#components-layout-demo-responsive {
  height:100vh;
}
#components-layout-demo-responsive .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

#components-layout-demo-responsive .trigger:hover {
  color: #1890ff;
}
#components-layout-demo-responsive .logo {
  margin: 16px;
}
#components-layout-demo-responsive .logo img {
  width: 100%;
}